[logging]
log_level:			info
log_location:		logs
log_file:			d3profilebot.log

[reddit_bot]
login_file:			d3profilebot.login
user_agent:			d3profilebot 1.0.0 by /u/newclutch - adds text versions of battle.net profiles
subreddit:			d3profilebot_test+diablo+diablo3monks+diablo3barbarians+diablo3witchdoctors+diablo3wizards+diablo3demonhunters
fails_allowed:		3
max_timeframe:		3600
search_terms:		battle.net/d3/en/profile/
base_url:			http://{region}.battle.net/d3/en

[d3_lookup]
base_url:			http://{region}.battle.net/api/d3/

[profiler]
base_url:			http://{region}.battle.net/d3/en
item_url:			/item/
crafted_item_url:	/artisan/blacksmith/recipe/
database:			d3profilebot.db
item_table:			item_stats
stats_table:		hero_stats
gear_stats:			Crit_Percent_Bonus_Capped,Damage_Dealt_Percent_Bonus#Arcane, Damage_Dealt_Percent_Bonus#Cold, Damage_Dealt_Percent_Bonus#Fire, Damage_Dealt_Percent_Bonus#Holy, Damage_Dealt_Percent_Bonus#Lightning, Damage_Dealt_Percent_Bonus#Physical

[formatter]
database:			d3profilebot.db
item_table:			item_stats
stats_table:		hero_stats
max_order:			500
item_display_order:	head,shoulders,torso,bracers,hands,waist,legs,feet,neck,leftFinger,rightFinger,mainHand,offHand
message_me:			http://www.reddit.com/message/compose/?to=d3profilebot

[not_used]
